{{#each this}}
<div class="options-input">
  <p>{{description}}</p>
  <input type="{{type}}" name="{{name}}" id="{{name}}" value"{{value}}" min="{{min}}" max="{{max}}" step="{{step}}">
</div>
{{/each}}
